<!DOCTYPE html>
<html>
  <head>
    <title>Pokegifs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="error_explanation">
          <% if flash.any? %>
          <% flash.each do |key, value| %>
          <h3 class="<%= key %>">
            <%= value %>
          </h3>
          <% end %>
         <% end %>
       </div>
  <body>
    <%= yield %>
  </body>
</html>
